{
  "arrowParens": "always",
  "bracketSpacing": true,
  "printWidth": 100,
  "singleQuote": true,
  "useTabs": false,
  "tabWidth": 2,
  "semi": false,
  "trailingComma": "none",
  "endOfLine": "lf",
  "plugins": ["prettier-plugin-tailwindcss"],
  "tailwindFunctions": ["clsx", "twMerge", "clsxTwMerge"]
}
